<div class="header-container">
  <div class="header-left">
    <h1 class="header-title">{{ headerTitle }}</h1>
  </div>
  <div class="header-right">
    <button pButton pRipple type="button" icon="pi pi-chart-bar" (click)="goToDashLogs()" class="p-button-secondary p-button-rounded" aria-label="Go to DashLogs">
      <span class="button-label">DashLogs</span>
    </button>
    <button pButton pRipple type="button" icon="pi pi-sign-out" label="Cerrar Sesión" (click)="logout()" class="p-button-danger" aria-label="Cerrar sesión"></button>
  </div>
</div>
