<div class="login-container">
  <p-toast position="top-right"></p-toast>
  <p-card [style]="cardStyles">
    <ng-template #header>
      <div class="header-circle-container">
        <div class="user-icon-circle">
          <i class="pi pi-user user-icon"></i>
        </div>
      </div>
    </ng-template>

    <ng-template #title>
      <div class="login-title">Iniciar Sesión</div>
    </ng-template>

    <div class="form-fields">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="username" placeholder="Nombre de usuario" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <input pInputText type="password" [(ngModel)]="password" placeholder="Contraseña" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-shield"></i>
        </p-inputgroup-addon>
        <input pInputText [(ngModel)]="otp" placeholder="Código OTP" />
      </p-inputgroup>
    </div>

    <ng-template #footer>
      <div class="login-buttons">
        <p-button
          (click)="login()"
          label="Iniciar Sesión"
          severity="secondary"
          [outlined]="true"
          [ngClass]="'w-full p-button-outlined'"
        ></p-button>
        <p-button
          label="Registro"
          severity="info"
          [ngClass]="'w-full'"
          routerLink="/auth/register"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
