.kanban-board {
  display: flex;
  gap: 15px;
  padding: 15px;
  background-color: #676262fe; /* Fondo oscuro general */
  color: #fff; /* Texto blanco */
  margin-top: 0;
}

.kanban-column {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #272727; /* Fondo de las columnas */
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(174, 174, 174, 0.3);
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.kanban-column::-webkit-scrollbar {
  width: 6px;
}

.kanban-column::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.kanban-card {
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(102, 102, 102, 0.25);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  color: #212121; /* Texto oscuro dentro de la tarjeta */
}

.kanban-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(74, 74, 74, 0.35);
}

.task-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff; /* Título blanco */
  padding: 12px 16px 0;
}

.task-content {
  padding: 0 8px 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea tenue */
}

.task-description {
  font-size: 0.95em;
  color: #ffffff; /* Descripción blanca */
  margin: 8px 0;
  line-height: 1.4;
}

.task-deadline {
  font-size: 0.85em;
  color: #b1afaf; /* Fecha en gris claro */
}



.status-label {
  font-weight: bold;
  font-size: 0.85em;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.452); /* Fondo semitransparente */
}
